# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints
notebooks/.ipynb_checkpoints/

# Virtual environment
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Models and data
models/*.pkl
dataset/

# Node
node_modules/
churn-predictor-frontend/node_modules/
churn-predictor-frontend/dist/

# Logs
*.log